numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2

xgboost==1.7.6
lightgbm==4.1.0

tensorflow==2.10.0
keras==2.10.0

torch==2.0.1
torchvision==0.15.2

py-feat==0.3.7
opencv-python==4.7.0.72

retina-face==0.0.13
mediapipe==0.9.0.1

dlib==19.24.2
imutils==0.5.4

tqdm==4.66.1

joblib==1.2.0
pickle-mixin==1.0.2
